<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lina.userorangtua">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/parents"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Fitur.SplashScreen.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fitur.Login.LoginForm" />
        <activity
            android:name=".Fitur.Menu.ButtomNavigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fitur.Jadwal.DetailJadwalTrial"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Jadwal.DetailJadwalKursus"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Jadwal.JadwalTrial"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Jadwal.JadwalKursus"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.DetailRapotTrial"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.RapotTrialCintaBaca"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.RapotTrialCintaMatika"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.DetailRapotKursus"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.RapotKursusStatus"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Fitur.Rapot.RapotKursus"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.GrafikPerkembangan"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Rapot.Grafik"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Pembayaran.DetailPembayaran"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Kuisioner.KuisionerStatus"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Kuisioner.KuisionerLihat"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Kuisioner.KuisionerIsi"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Menu.AboutUs"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Menu.EditPassword"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Fitur.Menu.Logout"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Fitur.Notifikasi.Notifikasi" />

        <service android:name=".Fitur.Notifikasi.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Fitur.Notifikasi.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".Fitur.Jadwal.AlarmReceiver"
            android:process=":remote" />

        <activity android:name=".Fitur.Rapot.GraphActivity"></activity>
    </application>

</manifest>